	#text{
		font-family: Verdana, Geneva, Arial, sans-serif;
		font-size: large;
		line-height: 1.6em;
		padding: 25px;
		margin: 30px;
		width:1100px;
	
		}

	h1{
			margin: 35px;
		}


	h1,h2{
			text-align: center;
		}

	p{
			text-align: justify-all;
		}
		
	#paragr{
			margin-bottom: 35px;
		}
		
	#titlea{
			margin: 35px;
		}
		
	#footer{
			margin-top:50px;
			text-align: center;
	}